/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita scrolls horizontales accidentales */
}

* {
  box-sizing: border-box; /* Asegura que el padding no "empuje" el ancho */
}