<app-shared-header themeClass="theme-green">
  <h1>⚽ Alumnos del Deporte {{deporteId}}</h1>
  <span> Entrenador a cargo</span>

</app-shared-header>


<button (click)="cargarAnalisis()">
  Ver análisis del deporte
</button>
<button (click)="regresarDeportes()">
    Volver a Deportes
</button>

<section class="graficas" *ngIf="analisisSvg">
  <div [innerHTML]="analisisSvg"></div>
  <div [innerHTML]="rankingSvg"></div>
</section>

<section class="grid">
  <article
    class="card"
    *ngFor="let atleta of atletas"
    (click)="verAtleta(atleta.id)"
  >
    <h3>{{ atleta.nombre }}</h3>
    <p>Matrícula: {{ atleta.matricula }}</p>
  </article>
</section>
