<h2>Dashboard General</h2>

<section class="metrics" *ngIf="metrics">
  <div>Total deportes: {{ metrics.total_deportes }}</div>
  <div>Total atletas: {{ metrics.total_atletas }}</div>
  <div>Total documentos: {{ metrics.total_documentos }}</div>
</section>

<button (click)="loadGrafic()">Ver gráfica global</button>

<div *ngIf="svgGlobal" [innerHTML]="svgGlobal"></div>

<hr />

<section *ngIf="isCoordinator()">
  <h3>Exportaciones</h3>

  <button (click)="downloadCsv()">Exportar CSV</button>
  <button (click)="downloadPDF()">Exportar PDF</button>
</section>
